@media screen and (max-width:48rem) {

    .topnav a {
        display: flex; 
        justify-content: center;
        align-items: center;
        color: white;
        padding: 10px;
        border-bottom: 1px solid white;
        text-decoration: none;
        border-radius: 10px;
    }

    main {
        grid-template-columns: 1fr;
    }

    footer {
    display: flex;
    flex-flow: column;
    }
}

@media screen and (min-width:48rem) {

    .topnav a {
        display: flex;
        align-items: center;
        color: white;;
        padding: 10px;
        border-right: 1px solid white;
        text-decoration: none;
    }

    .topnav {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    main {
        grid-template-columns: 2fr 1fr;
    }

    footer .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
}









body {
    background: #140c10;
}

.topnav {
    background-color: #1f1e23;
}

header .logo {
display: flex;
filter: invert();
height: auto;
width: 30%;
position: absolute;
}

header .Background{
    display: flex;
    height: auto;
    width: 100%;
}

nav a {
    text-decoration: none;
}

main {
    background-color: #35343b;
    display: grid;
}

article, aside {
    padding: 1rem;
}

aside {
    background-color: #2b2a2f;
    color: white;
}

footer { 
    background-color: black;
    padding: 1rem;
    color: white;

}

